.image-container {
    width: 50px;
    height: 50px;
}

.container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;

}
.sun-container {
    margin-top: 1rem;
    width: 500px;
    height: 300px;
    border: 2px solid #6666dc;

}